#### this script measures the amount of collaboration for each country and the proportion of self-funding of each country

In [1]:
import pandas as pd

In [2]:
pubs_path="../../data/NationalFunding/Data/DerivedData/CleanedRawData/pub.pkl"

In [3]:
df = pd.read_pickle(pubs_path)

In [4]:
df.head()

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund,intfund
0,60694041,2017,9,1,"[Canada, United States]","[United States, United States]","[Canada, United States]",[United States],1,1,0,0
1,48573156,2012,89,1,[France],Not-Funded,[France],Not-Funded,0,0,0,0
2,55323671,2015,89,1,"[France, Chile]","[Chile, Chile, Chile, Chile, Chile]","[France, Chile]",[Chile],1,1,0,0
3,57633115,2016,31,1,"[Switzerland, United States]",[Switzerland],"[Switzerland, United States]",[Switzerland],1,1,0,0
4,64831413,2018,99,1,[China],"[China, China, China, China, China, China]",[China],[China],1,0,0,0

In [7]:
int_df = df[['author_distinct','IntCol']].explode('author_distinct')
int_df = int_df.groupby(by=['author_distinct','IntCol']).size().reset_index(name='count')
int_df = int_df.pivot(index='author_distinct',columns='IntCol',values='count')

In [12]:
int_df.rename(columns={0:'not',1:'col'},inplace=True)

In [20]:
int_df['total'] = int_df['not']+int_df['col']
int_df['col_p'] = int_df['col']/int_df['total']
int_df = int_df.sort_values(by='col_p',ascending=False)

In [27]:
int_df[180:]

IntCol                     not        col      total     col_p
author_distinct
Romania                40625.0    29094.0    69719.0  0.417304
Republic of Serbia     27380.0    19166.0    46546.0  0.411765
United States        1941880.0  1266929.0  3208809.0  0.394828
Poland                152365.0    84909.0   237274.0  0.357852
Russia                205063.0   109985.0   315048.0  0.349106
Brazil                250915.0   125661.0   376576.0  0.333694
Japan                 534699.0   227984.0   762683.0  0.298924
South Korea           348747.0   141840.0   490587.0  0.289123
Taiwan                165761.0    67027.0   232788.0  0.287932
China                1779494.0   585992.0  2365486.0  0.247726
India                 419633.0   127232.0   546865.0  0.232657
Iran                  201580.0    60636.0   262216.0  0.231244
Turkey                189249.0    52402.0   241651.0  0.216850
Antarctica                 NaN       10.0        NaN       NaN
Antigua & Barbuda          NaN       39.0        NaN       NaN
Comoros                    NaN       56.0        NaN       NaN
Cook Islands               NaN       34.0        NaN       NaN
Crimea                     NaN        5.0        NaN       NaN
Equatorial Guinea          NaN       51.0        NaN       NaN
Kiribati                   NaN       25.0        NaN       NaN
Niue                       NaN        5.0        NaN       NaN
Sao Tome & Principe        NaN       36.0        NaN       NaN
Solomon Islands            NaN      182.0        NaN       NaN
Somalia                    NaN       58.0        NaN       NaN
Tonga                      NaN       48.0        NaN       NaN
Tuvalu                     NaN       10.0        NaN       NaN